@{
    ViewData["Title"] = "Home Page";
    string name = "Harry";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>
        当前时间是：@DateTime.Now
    </p>
    <p>
        我的名字是:@name
    </p>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
